$main-font: 'Roboto', sans-serif;
$primary-color: #ffa45b;
$secondary-color: #ffe1bd;
$tertiary-color: #ffebd2;
$warning-color: rgb(255, 0, 0);
$font-color: #000000;
$menu-overlay-color:rgba(255, 164, 91, 0.95);

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin transitionEase {
  transition: all .55s ease;
}

@mixin fontSet($weight: 400) {
  font-family: $main-font;
  font-weight: $weight;
}

@mixin sectionTitle {
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 900;
}

@mixin starWidth($rate) {
  @if $rate == 1 {
    width: 35%;
  } @else if $rate == 1.5 {
    width: 50%;
  } @else if $rate == 2 {
    width: 70%;
  } @else if $rate == 2.5 {
    width: 83.5%;
  } @else if $rate == 3 {
    width: 95%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showError {
  visibility: visible !important;
}


// animation
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

 @mixin gaugeAnimation($rate) {
   @keyframes gaugeColor {
     from {
       width: 0;
     }
   
     to {
       @include starWidth($rate);
     }
   }
 }


//responsive supprt
@mixin media-sm {
  @media screen and (min-width: 481px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1500px) {
    @content;
  }
}