// Menu button
.hamburger {
	position: fixed;
	z-index: 3;
	right: 2rem;
	top: 2rem;
	height: 20px;
	width: 28px;
	cursor: pointer;

	&Line {
		position: absolute;
		right: 0;
		top: 0.5rem;
		width: 28px;
		height: 3px;
		background-color: $font-color;
		@include transitionEase;

		&::before {
			content: '';
			position: absolute;
			top: -8px;
			width: 28px;
			height: 3px;
			background-color: $font-color;
		}

		&::after {
			content: '';
			position: absolute;
			top: 8px;
			right: 0;
			width: 20px;
			height: 3px;
			background-color: $font-color;
		}

		//change the lines into X
		&.open {
			transform: rotate(540deg);
			background-color: transparent;

			&::before {
				top: 0;
				transform: rotate(45deg);
			}

			&::after {
				width: 28px;
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

.socialBtn {
	@include flex(column);
	align-items: center;
	margin-left: 1rem;
	position: fixed;
	top: 3rem;
	z-index: 1;

	a {
		color: $font-color;

		i {
			font-size: 20px;
			margin: 0.5rem;
			@include transitionEase;
		}

		&:hover {
			color: #fff;
		}
	}
}

//Menu ovelay
.menuOverlay {
	width: 100vw;
	height: 100vh;
	background-attachment: fixed;
	z-index: 2;
	background-color: $menu-overlay-color;
	position: absolute;
	top: -100vh;
	left: 100vw;
	@include flex(column);
	justify-content: center;
	visibility: hidden;
	border-radius: 50%;
	font-family: $main-font;

	&.open {
		position: fixed;
		top: 0;
		left: 0;
		@include transitionEase;
		transform: scale(2);
		visibility: visible;
	}

	&.close {
		position: fixed;
		@include transitionEase;
		visibility: hidden;
	}

	nav {
		@include flex(column);
		align-items: center;
		text-align: center;

		li:first-child {
			display: none;
		}

		.menuItem {
			list-style-type: none;
			margin-bottom: 15px;

			a {
				color: $font-color;
				font-size: 10px;
				font-weight: bold;
				letter-spacing: 5px;
				text-decoration: none;
				@include transitionEase;

				&:hover {
					letter-spacing: 8px;
					color: #fff;
				}
			}
		}
	}
}

// Section title
section {
	h1:nth-of-type(1) {
		@include sectionTitle;
	}
}

// Language icons
.langList {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	margin: 3rem 0;

	&Item {
		@include flex(column);
		justify-content: center;
		align-items: center;

		.stars {
			@include flex(column);

			.backStars {
				@include flex(row);
				justify-content: flex-start;
				position: relative;
				color: $font-color;
				z-index: 0;

				.frontStars {
					@include flex(row);
					justify-content: flex-start;
					position: absolute;
					top: 0;
					z-index: -1;
					color: $primary-color;
					overflow: hidden;
					@include starWidth(1.5);
					@include gaugeAnimation(1.5);

					&#html,
					&#css {
						@include starWidth(2.5);
						@include gaugeAnimation(2.5);
					}

					&#sass,
					&#bootstrap {
						@include starWidth(2);
						@include gaugeAnimation(2);
					}

					&#javascript {
						@include starWidth(1.5);
						@include gaugeAnimation(1.5);
					}
				}
			}
		}

		& > i {
			font-size: 40px;
			margin: 0.2rem 0;
		}

		span {
			font-size: 12px;
			display: inline-block;
		}
	}
}

//Modal
#modal {
	position: absolute;
	width: 80%;
	height: auto;
	padding: 1rem;
	background-color: $menu-overlay-color;
	z-index: 3;
	border: 2px solid $font-color;
	transform: scale(0);
	@include transitionEase;

	&.showModal {
		transform: scale(1);
	}

	.close {
		position: absolute;
		right: 1.5rem;
		font-size: 25px;
		@include fontSet(900);

		&:hover {
			color: lighten($font-color, 100%);
		}
	}

	h2 {
		margin-bottom: 0.5rem;
	}

	p {
		text-align: center;
		padding-bottom: 1rem;
	}
}

//Cards on works section
.worksListItem {
	width: 250px;
	height: 160px;
	@include flex(column);
	align-items: center;
	transform-style: preserve-3d;
	transform: translateZ(1px);
	@include transitionEase;
	margin: 1rem 0;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.34);
	border-radius: 5px;

	&:hover {
		transform: rotateY(180deg);
	}

	.projectFront {
		width: 100%;
		height: 100%;
		position: relative;
		backface-visibility: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}

		&Title {
			width: 85%;
			height: 70px;
			position: absolute;
			top: 3rem;
			left: 0;

			&Inner {
				position: relative;
				height: 70px;
				background-color: $primary-color;
				@include flex(column);
				align-items: start;
				padding-left: 1rem;

				h1,
				h3 {
					display: inline-block;
					margin: 0;
					@include fontSet(700);
					color: $font-color;
					letter-spacing: initial;
				}

				h3 {
					font-size: 12px;
					@include fontSet(400);
					margin-top: 0.5rem;
				}
			}
		}
	}

	.projectBack {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		background-color: $primary-color;
		@include flex(column);
		align-items: center;
		font-size: 14px;
		transform: rotateY(180deg);
		backface-visibility: hidden;

		p {
			margin: 0.5rem 2rem 1rem 2rem;
		}

		.links {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 2.5rem;

			a {
				color: $font-color;
				text-decoration: none;

				&:hover {
					color: #fff;
				}
			}
		}
	}
}
