html {
	overflow-x: hidden;
}

body {
	width: 100vw;
	position: relative;
	background-color: $primary-color;
	@include fontSet;
	overflow-x: hidden;
}

@mixin defaultPadding($height: auto) {
	width: 100%;
	height: $height;
	min-height: 100vh;
	padding: 6rem 3rem;
}

header {
	@include defaultPadding();
	@include flex(column);

	#headerContainer {
		width: 70%;
		min-width: 250px;

		h1 {
			font-family: $main-font;
			font-weight: 400;
			font-size: 20px;
		}

		h1:nth-of-type(2) {
			font-size: 22px;
			font-weight: 700;
			border-right: 3px solid $font-color;
			width: 19ch;
			overflow: hidden;
			white-space: nowrap;
			margin-top: 1rem;
			animation: typing 3s steps(19), blink 0.5s step-end infinite alternate;
		}
	}
}

section {
	position: relative;
}

#about {
	@include defaultPadding();
	@include flex(column);
	justify-content: flex-start;
	background-color: $secondary-color;
	position: relative;

	&Container {
		@include flex(column);

		& > h1 {
			margin-bottom: 2rem;
		}

		.profile {
			@include flex(column);
			position: relative;
			min-width: 120px;
			margin-top: 3rem;

			img {
				width: 70%;
				max-width: 190px;
				border-radius: 50%;
				position: relative;
				filter: drop-shadow(0 0 0.75rem $primary-color) brightness(130%);
			}

			h2 {
				font-size: 20px;
				min-width: 120px;
				margin-top: 2rem;
			}

			p:nth-of-type(1) {
				font-size: 16px;
				margin: 0.5rem 0 2rem 0;
				min-width: 122px;
			}

			p:nth-of-type(2) {
				font-size: 14px;
				width: auto;
				max-width: 280px;
				min-width: 120px;
			}
		}
	}
}

#skills {
	@include defaultPadding();
	position: relative;
	background-color: $tertiary-color;
	@include flex(column);

	&Container {
		width: 90%;
		@include flex(column);
		justify-content: flex-start;
		align-items: stretch;

		a {
			display: inline-block;
			@include fontSet;
			color: $font-color;
			font-size: 12px;
			margin: 1rem auto 2rem auto;
			white-space: nowrap;

			&::before {
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				content: '\f059';
				text-decoration: none;
			}
		}

		hr {
			width: 80%;
			border: none;
			border-top: 2px solid $menu-overlay-color;
			margin: 0 auto;
		}

		h2 {
			font-family: $main-font;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 16px;
			margin: 3rem auto 1rem auto;
			text-align: center;
			white-space: nowrap;
		}

		ul {
			margin: 0 auto;
			list-style-type: none;

			li {
				margin-top: 0.5rem;
			}
		}
	}
}

#works {
	@include defaultPadding();
	background-color: $secondary-color;
	@include flex(column);
	justify-content: flex-start;
	position: relative;

	&Container {
		@include flex(column);
		height: 90%;

		& > h1 {
			margin-bottom: 2rem;
		}

		.worksList {
			@include flex(column);
			justify-content: space-evenly;
			align-items: center;
		}
	}
}

#contact {
	@include defaultPadding();
	background-color: $tertiary-color;
	@include flex(column);
	justify-content: flex-start;

	&Container {
		@include flex(column);

		& > h1 {
			margin-bottom: 4rem;
		}

		h1:nth-of-type(2) {
			@include sectionTitle;
			letter-spacing: 3px;
			font-size: 18px;
			text-align: center;
			margin-top: 2rem;
			margin-bottom: 0.5rem;
			white-space: nowrap;
		}

		p {
			font-size: 16px;
			text-align: center;
			margin-top: 1rem;
		}

		form {
			position: relative;
			margin: 1rem auto;
			width: 90%;
			@include flex(column);

			label {
				position: relative;
				top: 0;
				left: -40%;
				display: block;
				color: darken($primary-color, 20%);
				visibility: hidden;
				z-index: 1;

				&.showLabel {
					visibility: visible;
				}
			}

			label:nth-of-type(3) {
				left: -35%;
			}

			input,
			textarea {
				display: inline-block;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 5px;
				background-color: #ffc784;
				outline: none;
				margin-bottom: 0.8rem;
				padding: 1rem;
				font-size: 18px;
				@include fontSet;

				&:-webkit-autofill {
					//customize autocomplete style
					-webkit-box-shadow: 0 0 0px 1000px #ffc784 inset;
				}

				&.borderBottom {
					border-bottom: 3px solid darken($primary-color, 20%);
				}

				&.errorBorder {
					border: 2px solid $warning-color;
				}

				&:hover {
					background-color: lighten(#ffc784, 5%);
				}

				&::placeholder {
					@include fontSet;
					color: darken($primary-color, 20%);
					font-size: 18px;
				}

				&:focus {
					background-color: lighten(#ffc784, 5%);

					&::placeholder {
						visibility: hidden;
					}
				}
			}

			textarea {
				height: 200px;
			}

			button {
				border: none;
				background-color: $primary-color;
				padding: 5px;
				width: 120px;
				border-radius: 15px;
				margin-left: auto;
				margin-top: 1.5rem;
				font-size: 16px;
				cursor: pointer;
				outline: none;

				&:active {
					transform: scale(0.9);
				}
			}

			.fa-exclamation-circle {
				position: absolute;
				top: 2rem;
				right: 0.8rem;
				color: $warning-color;
				visibility: hidden;
			}

			i:nth-of-type(2) {
				top: 6.5rem;
			}

			i:nth-of-type(3) {
				top: 11.3rem;
			}

			small {
				position: absolute;
				top: 3.9rem;
				right: 0.5rem;
				color: $warning-color;
				visibility: hidden;
			}

			small:nth-of-type(2) {
				top: 8.4rem;
			}

			small:nth-of-type(3) {
				top: 23rem;
			}
		}
	}
}

footer {
	@include defaultPadding(60px);
	min-height: 60px;
	padding: 1rem;
	@include flex(row);
	justify-content: space-between;
	align-items: center;
	font-size: 10px;
}

//small size screen
@include media-sm {
	section {
		h1:nth-of-type(1) {
			@include sectionTitle(28px);
		}
	}

	.menuOverlay {
		nav .menu .menuItem > a {
			font-size: 12px;

			&:hover {
				letter-spacing: 8px;
				color: #fff;
			}
		}
	}

	header #headerContainer {
		width: 80%;

		h1,
		h1:nth-of-type(2) {
			font-size: 28px;
		}

		h1:nth-of-type(2):hover {
			text-shadow: -2px 2px $secondary-color;
		}
	}

	#aboutContainer {
		.profile {
			h2 {
				font-size: 24px;
			}

			p:nth-of-type(1) {
				font-size: 18px;
			}

			p:nth-of-type(2) {
				font-size: 16px;
				max-width: 380px;
			}
		}
	}

	#skillsContainer {
		a {
			font-size: 16px;
		}

		.langList {
			.stars i {
				font-size: 20px;
			}

			i {
				font-size: 46px;
			}

			span {
				font-size: 16px;
			}
		}

		h2 {
			font-size: 20px;
		}

		ul li {
			font-size: 18px;
		}
	}

	#worksContainer {
		align-items: stretch;

		.worksList {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-content: center;
			gap: 1rem;
			margin-top: 1rem;

			.worksListItem {
				width: auto;
				min-width: 200px;
				max-width: 260px;
				height: 160px;
				justify-self: center;

				.projectFrontTitleInner {
					padding-left: 0.5rem;

					& > h1 {
						font-size: 20px;
					}
				}

				.projectBack {
					.links {
						width: 80%;
						gap: 1rem;

						a {
							justify-self: center;

							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	#contact {
		form {
			label {
				left: -43%;
			}

			label:nth-of-type(3) {
				left: -40%;
			}
		}
	}
}

//medium size screen
@include media-md {
	.hamburger {
		visibility: hidden;
	}

	.socialBtn {
		top: 6rem;
		margin-left: 2rem;

		a i {
			font-size: 24px;

			&:hover {
				color: #fff;
				transform: translateX(10px);
			}
		}
	}

	.menuOverlay {
		width: 100%;
		height: 60px;
		visibility: visible;
		top: 0;
		left: 0;
		border-radius: 0;
		background-color: $primary-color;
		position: fixed;
		@include flex(row);

		nav {
			display: block;
			width: 80%;

			li:first-child {
				display: block;
			}

			.menu {
				@include flex(row);
				justify-content: space-evenly;

				.menuItem {
					margin: 0;

					a {
						font-size: 20px;
					}
				}
			}
		}
	}

	header {
		align-items: center;

		#headerContainer {
			width: 365px;

			h1,
			h1:nth-of-type(2) {
				font-size: 32px;
			}
		}
	}

	#aboutContainer {
		.profile {
			h2 {
				margin-top: 3.5rem;
			}

			p:nth-of-type(1) {
				margin-bottom: 2.5rem;
			}
		}
	}

	#skills {
		justify-content: flex-start;

		#modal span {
			font-size: 30px;
		}

		.skillLevel {
			width: 70%;
			h2 {
				font-size: 22px;
			}
		}

		&Container {
			& > a {
				margin-bottom: 4rem;
			}
			.langList {
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: auto;
				margin: 3.5rem 0;
			}
		}
	}

	#worksContainer {
		& > h1 {
			margin-bottom: 4rem;
		}

		.worksList {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	#contactContainer {
		width: 500px;
	}

	footer {
		font-size: 12px;
		padding: 1rem 2rem;
	}
}

//large screen
@include media-lg {
	section {
		h1:nth-of-type(1) {
			@include sectionTitle(30px);
			letter-spacing: 15px;
		}
	}

	.socialBtn {
		top: 6rem;
		margin-left: 2rem;

		a i {
			font-size: 30px;
			margin: 1rem;
		}
	}

	.menuOverlay {
		height: 80px;

		nav .menu .menuItem a {
			font-size: 28px;
		}
	}

	header #headerContainer {
		width: 600px;

		h1,
		h1:nth-of-type(2) {
			font-size: 50px;
		}
	}

	#about {
		padding-top: 130px;

		#aboutContainer {
			.profile {
				@include flex(row);

				img {
					max-width: 200px;
					align-self: flex-start;
				}

				h2 {
					font-size: 24px;
					margin-top: 3.5rem;
					position: absolute;
					bottom: 0;
					left: 1rem;
				}

				p:nth-of-type(1) {
					font-size: 20px;
					position: absolute;
					bottom: -6rem;
					left: 1rem;
				}

				p:nth-of-type(2) {
					font-size: 18px;
					line-height: 35px;
					max-width: 400px;
					margin-left: 2rem;
					height: 250px;
					position: relative;
					top: 2rem;
				}
			}
		}
	}

	#skills {
		padding-top: 130px;

		#modal {
			max-width: 1000px;
			height: 500px;

			span {
				font-size: 50px;
			}

			.skillLevel {
				width: 70%;

				h2 {
					font-size: 24px;
				}

				p {
					text-align: start;
					font-size: 20px;
				}
			}
		}

		#skillsContainer {
			max-width: 1000px;

			& > a {
				font-size: 20px;
				margin-bottom: 3rem;
			}
			.langList {
				gap: 3rem 1rem;
				margin-bottom: 6rem;

				&Item {
					.stars i {
						font-size: 30px;
					}

					& > i {
						font-size: 60px;
						margin-top: 1rem;
					}

					span {
						font-size: 22px;
					}
				}
			}

			h2 {
				font-size: 24px;
				margin-bottom: 2rem;
			}

			ul li {
				font-size: 20px;
			}
		}
	}

	#works {
		padding-top: 130px;

		#worksContainer {
			width: 80%;
			max-width: 1100px;

			& > h1 {
				margin-bottom: 4rem;
			}

			.worksList {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
				gap: 2rem;

				.worksListItem {
					width: auto;
					min-width: 350px;
					max-width: 450px;
					height: 250px;
					justify-self: center;

					.projectFrontTitle {
						top: 5.5rem;
						@include flex(row);
						justify-content: flex-start;

						.projectFrontTitleInner {
							@include flex(row);
							padding-left: 0.5rem;

							& > h1 {
								font-size: 20px;
							}

							h3 {
								margin-top: 0;
								margin-left: 1.5rem;
							}
						}
					}

					.projectBack {
						justify-content: flex-start;

						p {
							font-size: 20px;
							margin: 3.5rem;
							margin-bottom: 2rem;
						}

						.links {
							a {
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}

	#contact {
		padding-top: 130px;
		
		#contactContainer {
			display: block;
			width: 750px;

			h1:nth-of-type(1) {
				margin-bottom: 6rem;
			}

			h1:nth-of-type(2) {
				font-size: 26px;
				width: fit-content;
				margin: 0;
				margin-top: 5rem;
				float: left;
			}

			p {
				width: fit-content;
				font-size: 20px;
			}

			form {
				width: 50%;
				float: right;
				margin: -13rem -4rem;

				label,
				input,
				textarea {
					font-size: 20px;
				}

				.fa-exclamation-circle {
					top: 2.2rem;
				}

				i:nth-of-type(2) {
					top: 6.9rem;
				}

				i:nth-of-type(3) {
					top: 11.9rem;
				}

				small {
					top: 4.2rem;
				}

				small:nth-of-type(2) {
					top: 9.1rem;
				}

				small:nth-of-type(3) {
					top: 24rem;
				}

				button {
					font-size: 20px;
				}
			}
		}
	}

	footer {
		height: 80px;
		font-size: 18px;
	}
}
