html {
	overflow-x: hidden;
}

body {
	width: 100vw;
	position: relative;
	background-color: $primary-color;
	@include fontSet;
	overflow-x: hidden;
}

@mixin defaultPadding($height: auto) {
	width: 100%;
	height: $height;
	min-height: 100vh;
	padding: 6rem 3rem;
}

header {
	@include defaultPadding();
	@include flex(column);

	#headerContainer {
		width: 70%;
		min-width: 250px;

		h1 {
			font-family: $main-font;
			font-weight: 400;
			font-size: 20px;
		}

		h1:nth-of-type(2) {
			font-size: 22px;
			font-weight: 700;
			border-right: 3px solid $font-color;
			width: 19ch;
			overflow: hidden;
			white-space: nowrap;
			margin-top: 1rem;
			animation: typing 3s steps(19), blink 0.5s step-end infinite alternate;
		}
	}
}

section {
	position: relative;
}

#about {
	@include defaultPadding();
	@include flex(column);
	justify-content: flex-start;
	background-color: $secondary-color;
	position: relative;
	
	&Container {
		@include flex(column);

			& > h1 {
				margin-bottom: 2rem;
			}

		.profile {
			@include flex(column);
			position: relative;
			min-width: 120px;
			margin-top: 3rem;
	
			img {
				width: 70%;
				max-width: 190px;
				border-radius: 50%;
				position: relative;
				filter: drop-shadow(0 0 0.75rem $primary-color) brightness(130%);
			}
	
			h2 {
				font-size: 20px;
				min-width: 120px;
				margin-top: 2rem;
			}
	
			p:nth-of-type(1) {
				font-size: 16px;
				margin: 0.5rem 0 2rem 0;
				min-width: 122px;
			}
	
			p:nth-of-type(2) {
				font-size: 14px;
				width: auto;
				max-width: 280px;
				min-width: 120px;
				overflow: hidden;
			}
		}
	}
}

#skills {
	@include defaultPadding();
	position: relative;
	background-color: $tertiary-color;
	@include flex(column);

	&Container {
		width: 90%;
		@include flex(column);
		justify-content: flex-start;
		align-items: stretch;

		a {
			display: inline-block;
			@include fontSet;
			color: $font-color;
			font-size: 12px;
			margin: 1rem auto;
			white-space: nowrap;
	
			&::before {
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				content: '\f059';
				text-decoration: none;
			}
		}
	
		hr {
			width: 80%;
			border: none;
			border-top: 2px solid $menu-overlay-color;
			margin: 0 auto;
		}
	
		h2 {
			font-family: $main-font;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 16px;
			margin: 3rem auto 1rem auto;
			text-align: center;
			white-space: nowrap;
		}

		ul {
			margin: 0 auto;
			list-style-type: none;

			li {
				margin-top: 0.5rem;
			}
		}
	}
}

#works {
	@include defaultPadding();
	background-color: $secondary-color;
	@include flex(column);
	position: relative;
	
	&Container {
		@include flex(column);
		justify-content: flex-start;
		height: 90%;

		& > h1 {
			margin-bottom: 2rem;
		}

		.worksList {
			@include flex(column);
			justify-content: space-evenly;
			align-items: center;
		}
	}
}

#contact {
	@include defaultPadding();
	background-color: $tertiary-color;
	@include flex(column);
	justify-content: flex-start;
	
	&Container {
		@include flex(column);

		& > h1 {
			margin-bottom: 5rem;
		}
	
		h1:nth-of-type(2) {
			@include sectionTitle;
			letter-spacing: 3px;
			font-size: 18px;
			text-align: center;
			margin-top: 2rem;
			margin-bottom: 0.5rem;
			white-space: nowrap;
		}
	
		p {
			font-size: 16px;
			text-align: center;
			margin-top: 1rem;
		}
	
		form {
			position: relative;
			margin: 1rem auto;
			width: 90%;
			@include flex(column);
	
			label {
				position: relative;
				top: 0;
				left: -40%;
				display: block;
				color: darken($primary-color, 20%);
				visibility: hidden;
				z-index: 1;
	
				&.showLabel {
					visibility: visible;
				}
			}

				label:nth-of-type(3) {
					left: -35%;
				}
	
			input,
			textarea {
				display: inline-block;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 5px;
				background-color: #ffc784;
				outline: none;
				margin-bottom: 0.8rem;
				padding: 1rem;
				font-size: 18px;
				@include fontSet;
	
				&:-webkit-autofill {
					//customize autocomplete style
					-webkit-box-shadow: 0 0 0px 1000px #ffc784 inset;
				}
	
				&.borderBottom {
					border-bottom: 3px solid darken($primary-color, 20%);
				}
	
				&.errorBorder {
					border: 2px solid $warning-color;
				}
	
				&:hover {
					background-color: lighten(#ffc784, 5%);
				}
	
				&::placeholder {
					@include fontSet;
					color: darken($primary-color, 20%);
					font-size: 18px;
				}
	
				&:focus {
					background-color: lighten(#ffc784, 5%);
	
					&::placeholder {
						visibility: hidden;
					}
				}
			}
	
			textarea {
				height: 200px;
			}
	
			button {
				border: none;
				background-color: $primary-color;
				padding: 5px;
				width: 120px;
				border-radius: 15px;
				margin-left: auto;
				margin-top: 1.5rem;
				font-size: 16px;
				cursor: pointer;
				outline: none;
	
				&:active {
					transform: scale(0.9);
				}
			}
	
			.fa-exclamation-circle {
				position: absolute;
				top: 2rem;
				right: 0.8rem;
				color: $warning-color;
				visibility: hidden;
			}
		
			i:nth-of-type(2) {
				top: 6.5rem;
			}
		
			i:nth-of-type(3) {
				top: 11.3rem;
			}
		
			small {
				position: absolute;
				top: 3.9rem;
				right: 0.5rem;
				color: $warning-color;
				visibility: hidden;
			}
		
			small:nth-of-type(2) {
				top: 8.4rem;
			}
		
			small:nth-of-type(3) {
				top: 23rem;
			}
		}
	}
}

footer {
	@include defaultPadding(60px);
	min-height: 60px;
	padding: 1rem;
	@include flex(row);
	justify-content: space-between;
	align-items: center;
	font-size: 10px;
}

//small size screen
@include media-sm {
	div.overlay {
		nav .menu li.menuItem > a {
			font-size: 12px;
		}
	}

	#top {
		h1 {
			font-size: 35px;
		}
	}

	#about {
		.profile {
			img {
				width: 130px;
				height: 130px;
			}

			.profileSummary {
				h2 {
					font-size: 20px;
				}

				p:nth-of-type(1) {
					font-size: 14px;
				}

				p:nth-of-type(2) {
					font-size: 14px;
				}
			}
		}
	}

	#works {
		.worksList {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-content: center;
			gap: 1rem;
			margin-top: 1rem;

			.worksListItem {
				width: 200px;
				height: 160px;
				justify-self: center;

				.projectBack {
					.links {
						gap: 1rem;
					}
				}
			}
		}
	}

	#contact {
		form {
			width: 60%;
		}
	}
}

//medium size screen
@include media-md {
	body {
		width: 100%;
		section > h1:nth-of-type(1) {
        font-size: 20px;
        padding-left: 1rem;
			}
	}

	.hamburger {
		visibility: hidden;
	}

	div.socialBtn {
		top: 4rem;
		margin-left: 1.5rem;
	}

	div.overlay {
		width: 100%;
		height: 60px;
		visibility: visible;
		top: 0;
		left: 0;
		border-radius: 0;
		background-color: $primary-color;
		position: fixed;

		nav {
			display: block;

			li:first-child {
				display: block;
			}

			.menu {
				@include flex(row);
				justify-content: center;
				li.menuItem {
					margin: 0 2rem 0 0;
					align-self: center;

					a {
						font-size: 20px;
					}
				}
			}
		}
  }

	#top {
		display: flex;
		h1 {
      margin: 5rem auto;
		}
	}

	#about,
	#skills,
	section#works,
	#contact {
    padding: 70px 3rem 60px 4.5rem;
    position: relative;
  }

	#about {
		.profile {
			img {
				width: 150px;
				height: 150px;
			}

			.profileSummary {
				margin-left: 5rem;
				h2 {
					font-size: 25px;
				}

				p:nth-of-type(1) {
					font-size: 16px;
				}

				p:nth-of-type(2) {
					font-size: 16px;
				}
			}
		}
	}

	section#skills {
		a {
      font-size: 14px;
      padding-left: 1rem;
		}

		.langList {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: auto;
			margin: 3.5rem 0;

			&Item {
				font-size: 20px;

				& > i {
					font-size: 50px;
				}

				span {
					font-size: 16px;
				}
			}
		}

		h2,
		p {
			font-size: 18px;
		}
	}

	#works {

		.worksList {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	#contact {
		h1:nth-of-type(2) {
			font-size: 18px;
		}

		p {
			font-size: 16px;
		}
	}

	footer {
		font-size: 12px;
		padding: 1rem 2rem;
	}
}

//large screen
@include media-lg {
	div.socialBtn {
		margin-left: 1.5rem;
		a > i {
			font-size: 25px;
		}
	}

	section#skills {
		.langList {
			max-width: 930px;
			gap: 3rem 0;
			margin: 3.5rem auto;
		}

		hr {
			max-width: 700px;
		}
	}

	#works {
		@include flex(column);
		.worksList {
			align-self: center;
			gap: 2rem 0;
			grid-template-columns: repeat(3, 320px);
			.worksListItem {
        width: 250px;
        
        .projectBack .links {
          gap: 2rem;
        }
			}
		}
  }
  
  #contact {
    form {
      max-width: 550px;
    }
	}
}

//extra large screen
@include media-xl {
  body {
    section > h1:nth-of-type(1) {
        position: absolute;
        top: 50%;
        transform: translateX(50%) translateY(-50%);
      } 

    section#skills a {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}