@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.showError {
  visibility: visible !important;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hamburger {
  position: fixed;
  z-index: 3;
  right: 2rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}

.hamburgerLine {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color: #000000;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.hamburgerLine::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #000000;
}

.hamburgerLine::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 20px;
  height: 3px;
  background-color: #000000;
}

.hamburgerLine.open {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
  background-color: transparent;
}

.hamburgerLine.open::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburgerLine.open::after {
  width: 28px;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.socialBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  margin-left: 1rem;
  position: fixed;
  top: 3rem;
  z-index: 1;
}

.socialBtn a {
  color: #000000;
}

.socialBtn a i {
  font-size: 20px;
  margin: 0.5rem;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.socialBtn a:hover {
  color: #fff;
}

.menuOverlay {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  z-index: 2;
  background-color: rgba(255, 164, 91, 0.95);
  position: absolute;
  top: -100vh;
  left: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  visibility: hidden;
  border-radius: 50%;
  font-family: "Cousine", monospace;
}

.menuOverlay.open {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
  -webkit-transform: scale(2);
          transform: scale(2);
  visibility: visible;
}

.menuOverlay.close {
  position: fixed;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
  visibility: hidden;
}

.menuOverlay nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  text-align: center;
}

.menuOverlay nav li:first-child {
  display: none;
}

.menuOverlay nav .menuItem {
  list-style-type: none;
  margin-bottom: 15px;
}

.menuOverlay nav .menuItem a {
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 5px;
  text-decoration: none;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.menuOverlay nav .menuItem a:hover {
  letter-spacing: 8px;
  color: #fff;
}

section h1:nth-of-type(1) {
  text-align: center;
  letter-spacing: 10px;
  font-size: 20px;
  font-family: "Cousine", monospace;
  font-weight: 900;
  margin: 0 auto;
}

.langList {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 3rem 0;
}

.langListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
}

.langListItem .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.langListItem .stars .backStars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  color: #000000;
  z-index: 0;
}

.langListItem .stars .backStars .frontStars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 0;
  z-index: -1;
  color: #ffa45b;
  overflow: hidden;
  width: 50%;
  -webkit-animation: gaugeColor 1.5s ease;
          animation: gaugeColor 1.5s ease;
}

@-webkit-keyframes gaugeColor {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes gaugeColor {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.langListItem .stars .backStars .frontStars#html, .langListItem .stars .backStars .frontStars#css {
  width: 83.5%;
  -webkit-animation: gaugeColor 1.5s ease;
          animation: gaugeColor 1.5s ease;
}

@keyframes gaugeColor {
  from {
    width: 0;
  }
  to {
    width: 83.5%;
  }
}

.langListItem .stars .backStars .frontStars#sass, .langListItem .stars .backStars .frontStars#bootstrap {
  width: 70%;
  -webkit-animation: gaugeColor 1.5s ease;
          animation: gaugeColor 1.5s ease;
}

@keyframes gaugeColor {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

.langListItem .stars .backStars .frontStars#javascript {
  width: 50%;
  -webkit-animation: gaugeColor 1.5s ease;
          animation: gaugeColor 1.5s ease;
}

@keyframes gaugeColor {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.langListItem > i {
  font-size: 40px;
  margin: 0.2rem 0;
}

.langListItem span {
  font-size: 12px;
  display: inline-block;
}

#modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  width: 70%;
  height: 70%;
  padding: 1rem;
  background-color: rgba(255, 164, 91, 0.95);
  z-index: 3;
  border: 2px solid #000000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

#modal.showModal {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#modal .close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

#modal .close:hover {
  color: white;
}

#modal .skillLevel {
  text-align: center;
}

#modal .skillLevel h2 {
  margin-bottom: 0.5rem;
}

#modal .skillLevel p {
  padding-bottom: 1rem;
}

.worksListItem {
  width: 250px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
  margin: 1rem 0;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.34);
  border-radius: 5px;
}

.worksListItem:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.worksListItem .projectFront {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.worksListItem .projectFront img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.worksListItem .projectFrontTitle {
  width: 85%;
  height: 70px;
  position: absolute;
  top: 3rem;
  left: 0;
}

.worksListItem .projectFrontTitleInner {
  position: relative;
  height: 70px;
  background-color: #ffa45b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 1rem;
}

.worksListItem .projectFrontTitleInner h1,
.worksListItem .projectFrontTitleInner h3 {
  display: inline-block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  letter-spacing: initial;
}

.worksListItem .projectFrontTitleInner h3 {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 0.5rem;
}

.worksListItem .projectBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #ffa45b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  font-size: 14px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.worksListItem .projectBack p {
  margin: 0.5rem 2rem 1rem 2rem;
}

.worksListItem .projectBack .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.worksListItem .projectBack .links a {
  color: #000000;
  text-decoration: none;
}

.worksListItem .projectBack .links a:hover {
  color: #fff;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  position: relative;
  background-color: #ffa45b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 6rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #headerContainer {
  width: 70%;
  min-width: 250px;
}

header #headerContainer h1 {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-size: 20px;
}

header #headerContainer h1:nth-of-type(2) {
  font-size: 22px;
  font-weight: 700;
  border-right: 3px solid #000000;
  width: 19ch;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1rem;
  -webkit-animation: typing 3s steps(19), blink 0.5s step-end infinite alternate;
          animation: typing 3s steps(19), blink 0.5s step-end infinite alternate;
}

section {
  position: relative;
}

#about {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 6rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #ffe1bd;
  position: relative;
}

#aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutContainer > h1 {
  margin-bottom: 2rem;
}

#aboutContainer .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 120px;
  margin-top: 3rem;
}

#aboutContainer .profile img {
  width: 70%;
  max-width: 190px;
  border-radius: 50%;
  position: relative;
  -webkit-filter: drop-shadow(0 0 0.75rem #ffa45b) brightness(130%);
          filter: drop-shadow(0 0 0.75rem #ffa45b) brightness(130%);
}

#aboutContainer .profile h2 {
  font-size: 20px;
  min-width: 120px;
  margin-top: 2rem;
}

#aboutContainer .profile p:nth-of-type(1) {
  font-size: 16px;
  margin: 0.5rem 0 2rem 0;
  min-width: 122px;
}

#aboutContainer .profile p:nth-of-type(2) {
  font-size: 14px;
  width: auto;
  max-width: 280px;
  min-width: 120px;
  overflow: hidden;
}

#skills {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 6rem 3rem;
  position: relative;
  background-color: #ffebd2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skillsContainer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#skillsContainer a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  margin: 1rem auto;
  white-space: nowrap;
}

#skillsContainer a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f059';
  text-decoration: none;
}

#skillsContainer hr {
  width: 80%;
  border: none;
  border-top: 2px solid rgba(255, 164, 91, 0.95);
  margin: 0 auto;
}

#skillsContainer h2 {
  font-family: "Cousine", monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  margin: 3rem auto 1rem auto;
  text-align: center;
  white-space: nowrap;
}

#skillsContainer ul {
  margin: 0 auto;
  list-style-type: none;
}

#skillsContainer ul li {
  margin-top: 0.5rem;
}

#works {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 6rem 3rem;
  background-color: #ffe1bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#worksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 90%;
}

#worksContainer > h1 {
  margin-bottom: 2rem;
}

#worksContainer .worksList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  align-items: center;
}

#contact {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 6rem 3rem;
  background-color: #ffebd2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactContainer > h1 {
  margin-bottom: 5rem;
}

#contactContainer h1:nth-of-type(2) {
  text-align: center;
  letter-spacing: 10px;
  font-size: 20px;
  font-family: "Cousine", monospace;
  font-weight: 900;
  margin: 0 auto;
  letter-spacing: 3px;
  font-size: 18px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

#contactContainer p {
  font-size: 16px;
  text-align: center;
  margin-top: 1rem;
}

#contactContainer form {
  position: relative;
  margin: 1rem auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactContainer form label {
  position: relative;
  top: 0;
  left: -40%;
  display: block;
  color: #f46d00;
  visibility: hidden;
  z-index: 1;
}

#contactContainer form label.showLabel {
  visibility: visible;
}

#contactContainer form label:nth-of-type(3) {
  left: -35%;
}

#contactContainer form input,
#contactContainer form textarea {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ffc784;
  outline: none;
  margin-bottom: 0.8rem;
  padding: 1rem;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#contactContainer form input:-webkit-autofill,
#contactContainer form textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffc784 inset;
}

#contactContainer form input.borderBottom,
#contactContainer form textarea.borderBottom {
  border-bottom: 3px solid #f46d00;
}

#contactContainer form input.errorBorder,
#contactContainer form textarea.errorBorder {
  border: 2px solid red;
}

#contactContainer form input:hover,
#contactContainer form textarea:hover {
  background-color: #ffd39e;
}

#contactContainer form input::-webkit-input-placeholder,
#contactContainer form textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #f46d00;
  font-size: 18px;
}

#contactContainer form input:-ms-input-placeholder,
#contactContainer form textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #f46d00;
  font-size: 18px;
}

#contactContainer form input::-ms-input-placeholder,
#contactContainer form textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #f46d00;
  font-size: 18px;
}

#contactContainer form input::placeholder,
#contactContainer form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #f46d00;
  font-size: 18px;
}

#contactContainer form input:focus,
#contactContainer form textarea:focus {
  background-color: #ffd39e;
}

#contactContainer form input:focus::-webkit-input-placeholder,
#contactContainer form textarea:focus::-webkit-input-placeholder {
  visibility: hidden;
}

#contactContainer form input:focus:-ms-input-placeholder,
#contactContainer form textarea:focus:-ms-input-placeholder {
  visibility: hidden;
}

#contactContainer form input:focus::-ms-input-placeholder,
#contactContainer form textarea:focus::-ms-input-placeholder {
  visibility: hidden;
}

#contactContainer form input:focus::placeholder,
#contactContainer form textarea:focus::placeholder {
  visibility: hidden;
}

#contactContainer form textarea {
  height: 200px;
}

#contactContainer form button {
  border: none;
  background-color: #ffa45b;
  padding: 5px;
  width: 120px;
  border-radius: 15px;
  margin-left: auto;
  margin-top: 1.5rem;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

#contactContainer form button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#contactContainer form .fa-exclamation-circle {
  position: absolute;
  top: 2rem;
  right: 0.8rem;
  color: red;
  visibility: hidden;
}

#contactContainer form i:nth-of-type(2) {
  top: 6.5rem;
}

#contactContainer form i:nth-of-type(3) {
  top: 11.3rem;
}

#contactContainer form small {
  position: absolute;
  top: 3.9rem;
  right: 0.5rem;
  color: red;
  visibility: hidden;
}

#contactContainer form small:nth-of-type(2) {
  top: 8.4rem;
}

#contactContainer form small:nth-of-type(3) {
  top: 23rem;
}

footer {
  width: 100%;
  height: 60px;
  min-height: 100vh;
  padding: 6rem 3rem;
  min-height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

@media screen and (min-width: 480px) {
  section h1:nth-of-type(1) {
    text-align: center;
    letter-spacing: 10px;
    font-size: 28px;
    font-family: "Cousine", monospace;
    font-weight: 900;
    margin: 0 auto;
  }
  .menuOverlay nav .menu .menuItem > a {
    font-size: 12px;
  }
  header #headerContainer {
    width: 80%;
  }
  header #headerContainer h1,
  header #headerContainer h1:nth-of-type(2) {
    font-size: 28px;
  }
  #aboutContainer .profile h2 {
    font-size: 24px;
  }
  #aboutContainer .profile p:nth-of-type(1) {
    font-size: 18px;
  }
  #aboutContainer .profile p:nth-of-type(2) {
    font-size: 16px;
    max-width: 380px;
  }
  #skillsContainer a {
    font-size: 16px;
  }
  #skillsContainer .langList .stars i {
    font-size: 20px;
  }
  #skillsContainer .langList i {
    font-size: 46px;
  }
  #skillsContainer .langList span {
    font-size: 16px;
  }
  #skillsContainer h2 {
    font-size: 20px;
  }
  #skillsContainer ul li {
    font-size: 18px;
  }
  #worksContainer {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #worksContainer .worksList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  #worksContainer .worksList .worksListItem {
    width: auto;
    min-width: 200px;
    max-width: 260px;
    height: 160px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #worksContainer .worksList .worksListItem .projectFrontTitleInner {
    padding-left: 0.5rem;
  }
  #worksContainer .worksList .worksListItem .projectFrontTitleInner > h1 {
    font-size: 20px;
  }
  #worksContainer .worksList .worksListItem .projectBack .links {
    width: 80%;
    gap: 1rem;
  }
  #worksContainer .worksList .worksListItem .projectBack .links a {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    visibility: hidden;
  }
  .socialBtn {
    top: 6rem;
    margin-left: 2rem;
  }
  .socialBtn a i {
    font-size: 24px;
  }
  .menuOverlay {
    width: 100%;
    height: 60px;
    visibility: visible;
    top: 0;
    left: 0;
    border-radius: 0;
    background-color: #ffa45b;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuOverlay nav {
    display: block;
    width: 80%;
  }
  .menuOverlay nav li:first-child {
    display: block;
  }
  .menuOverlay nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menuOverlay nav .menu .menuItem {
    margin: 0;
  }
  .menuOverlay nav .menu .menuItem a {
    font-size: 20px;
  }
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #headerContainer {
    width: 365px;
  }
  header #headerContainer h1,
  header #headerContainer h1:nth-of-type(2) {
    font-size: 32px;
  }
  #aboutContainer .profile h2 {
    margin-top: 3.5rem;
  }
  #aboutContainer .profile p:nth-of-type(1) {
    margin-bottom: 3.5rem;
  }
  #skills #modal span {
    font-size: 30px;
  }
  #skills .skillLevel {
    width: 70%;
  }
  #skills .skillLevel h2 {
    font-size: 22px;
  }
  #skills .skillLevel p {
    text-align: start;
  }
  #skillsContainer .langList {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin: 3.5rem 0;
  }
  #worksContainer .worksList {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #contactContainer {
    width: 500px;
  }
  footer {
    font-size: 12px;
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.socialBtn {
    margin-left: 1.5rem;
  }
  div.socialBtn a > i {
    font-size: 25px;
  }
  section#skills .langList {
    max-width: 930px;
    gap: 3rem 0;
    margin: 3.5rem auto;
  }
  section#skills hr {
    max-width: 700px;
  }
  #works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #works .worksList {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    gap: 2rem 0;
    -ms-grid-columns: (320px)[3];
        grid-template-columns: repeat(3, 320px);
  }
  #works .worksList .worksListItem {
    width: 250px;
  }
  #works .worksList .worksListItem .projectBack .links {
    gap: 2rem;
  }
  #contact form {
    max-width: 550px;
  }
}

@media screen and (min-width: 1500px) {
  body section > h1:nth-of-type(1) {
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
  }
  body section#skills a {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
